{% extends 'base.html.twig' %}

{% block title %}IT Solutions - Staff management{% endblock %}

{% block body %}

<!-- Breadcrumb -->
<div class="col-sm-12" id="breadcrumb">
    <a href="{{ path('home') }}"><span>Home</span></a>
    >
    <span>Management</span>
</div>
<!-- END Breadcrumb -->

<!-- Page name -->
<div class="col-xl-12">
    <h1 class="page-name">Website management</h1>
</div>
<!-- END Page name -->

<div class="col-xl-12" id="management">
    <div class="row">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-4">
        {% else %}
            <div class="col-md-6">
        {% endif %}
            <figure>
                <a href="">
                    <img src="{{ asset('img/icons/user.png') }}" alt="user-icon">
                </a>
                <figcaption>User management</figcaption>
            </figure>
        </div>
        
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-4">
                <figure>
                    <a href="{{ path('staff_management') }}">
                        <img src="{{ asset('img/icons/user.png') }}" alt="staff-icon">
                    </a>
                    <figcaption>Staff management</figcaption>
                </figure>
            </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-4">
        {% else %}
            <div class="col-md-6">
        {% endif %}
            <figure>
                <a href="">
                    <img src="{{ asset('img/icons/forum.png') }}" alt="forum-icon">
                </a>
                <figcaption>Forum management</figcaption>
            </figure>
        </div>  
    </div>
</div>

{% endblock %}