<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}IT Solutions{% endblock %}</title>   
        {% block favicon %}
            <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon">
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/user.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/register.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/forum.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/management.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/error.css') }}">

            <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
        {% endblock %}
    </head>
    <body lang="en">
        <div class="container-fluid">
            {{ include('top.html.twig') }}
            {{ include('menu.html.twig') }}
            <div class="row" id="content">
                {% block body %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </div>
            {{ include('footer.html.twig') }}
        </div>
    </body>
</html>
