{% extends 'base.html.twig' %}

{% block title %}IT Solutions - Memberlist{% endblock %}

{% block body %}

<!-- Breadcrumb -->
<div class="col-sm-12" id="breadcrumb">
    <a href="{{ path('home') }}"><span>Home</span></a>
    >
    <span>Users</span>
</div>
<!-- END Breadcrumb -->

<!-- TITLE + Indications -->
<div class="col-xl-12">
    <h1 class="page-name">List of Members</h1>
</div>

<div class="col-xl-12">
    <span>Access profile of a user by clicking on a line</span>
</div>
<!-- END TITLE -->

<!-- Memberlist -->
<div class="col-xl-12 table-responsive-xl text-nowrap">
    <table class="table table-dark table-striped table-memberlist" id="users">
        <thead>
            <tr>
                <th scope="col"><a href="" title="Order by ID" class="filterLink">#</a></th>
                <th scope="col"><a href="" title="Order by name" class="filterLink">Name</a></th>
                <th scope="col"><a href="" title="Order by role" class="filterLink">Role</a></th>
                <th scope="col">Profile Picture</th>
                <th scope="col">Registration Date</th>
                <th scope="col"><a href="" title="Order by last connection" class="filterLink">Last time online</a></th>
            </tr>
        </head>
        <tbody>
            {% if users is empty %}
                <th colspan="6"><p class="text-danger">No user found...</p></th>
            {% else %}
                {% for user in users %}
                    <tr data-id="{{ user.id }}" tabindex="0" title="Access to {{ user.username }}'s profile page ⏎">
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>
                            <p class="memberlist-{{ user.roleStr(user.roles|last) }}-role">
                                {{ user.roleStr(user.roles|last) }}
                            </p>
                        </td>
                        <td>
                            <img src="img/users/{{ user.username }}.png" alt="{{ user.username }}'s profile picture" class="memberlist-picture" tabindex="-1">
                        </td>
                        <td>
                            {{ user.registrationDate | date('d/m/Y') }}
                        </td>
                        <td>
                            {% if user == app.user %}
                                <p class="online">Currently online</p>
                            {% elseif user.lastLogin is null %}
                                <p class="failed">Never</p>
                            {% else %}
                                {{ user.getLastLoginStr(user.lastLogin) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
<!-- END Memberlist -->

<!-- Divide memberlist in pages if more than 10 members -->
<!-- Pagination -->
{% if countPage is not null %}
    <div class="col-xl-12 text-center" id="pagination">
        <ul>
            <!-- Previous page + first page -->
            <li>
                <a {% if page != 1 %} href="{{ path('users_page', {page: page - 1}) }}" class="btn btn-primary" {% else %} class="btn btn-primary disabled"{% endif %}>
                    ◄
                </a>
            </li>
            <li>
                <a href="{{ path('users') }}" class="btn btn-primary {% if page == 1 %} inactive disabled {% endif %}">
                    1
                </a>
            </li>

            <!-- Other pages -->
            {% if countPage > 2 %}
                <!-- If more than 7 pages, 7 links must be displayed (5 other pages + first and last page) -->
                {% if countPage > 7 %}
                    <!-- From the fourth page, current page link centered -->
                    {% if page >= 4 and page not in range(countPage - 3, countPage) %}
                        {% for i in range(page - 2,page + 2) %}
                            {% if i != countPage %}
                                <li>
                                    <a href="{{ path('users_page', {page: i}) }}" class="btn {% if i == page %} btn-light inactive disabled {% else %} btn-secondary {% endif %}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    <!-- To the last pages, right shift of current page link -->
                    {% elseif page > (countPage / 2) %}
                        {% for i in range(countPage - 5, (page + (countPage - page))) %}
                            {% if i != countPage %}
                                <li>
                                    <a href="{{ path('users_page', {page: i}) }}" class="btn {% if i == page %} btn-light inactive disabled {% else %} btn-secondary {% endif %}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    <!-- To the first pages, left shift of current page link -->
                    {% else %}
                        {% for i in range(2, (page + (6 - page))) %}
                            {% if i != countPage %}
                                <li>
                                    <a href="{{ path('users_page', {page: i}) }}" class="btn {% if i == page %} btn-light inactive disabled {% else %} btn-secondary {% endif %}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for i in 2..countPage - 1 %}
                        {% if page != countPage %}
                            <li>
                                <a href="{{ path('users_page', {page: i}) }}" class="btn {% if i == page %} btn-light inactive disabled {% else %} btn-secondary {% endif %}">
                                    {{ i }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            <!-- END Other pages -->

            <!-- Last page + next page -->
            <li>
                <a href="{{ path('users_page',{page: countPage}) }}" class="btn btn-primary {% if countPage == page %} inactive disabled {% endif %}">
                    {{ countPage }}
                </a>
            </li>
            <li>
                <a {% if page != countPage %} href="{{ path('users_page', {page: page + 1}) }}" class="btn btn-primary" {% else %} class="btn btn-primary disabled"{% endif %}>
                    ►
                </a>
            </li>
        </ul>
    </div>
{% endif %}
<!-- END Pagination -->

<script>
    $('#users > tbody > tr').click(function() {
        window.location.href = "/user/" + $(this).data("id");
	});

    $('#users > tbody > tr').keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            window.location.href = "/user/" + $(this).data("id");
        }
    });

    $("tr[title], tr[title]").focus(function(event){
        $(this).after("<span id=tooltip></span>");
        var $title = $(this).attr('title');
        $(this).next().append($title + ' ⏎');
    });
    $("tr[title], tr[title]").blur(function(){
        $('#tooltip').remove();
    });
</script>
{% endblock %}
