{% extends 'base.html.twig' %}

{% block title %}
    {% if data == app.user %}
        {% set data = app.user %}
        IT Solutions - Your profile page
    {% else %}
        IT Solutions - {{ data.username }}
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="col-sm-12" id="breadcrumb">
        <a href="{{ path('home') }}"><span>Home</span></a>
        >
        <a href="{{ path('users') }}"><span>Users</span></a>
        >
        {% if data == app.user %}
            <span class="current-page">You</span>
        {% else %}
            <span class="current-page">{{ data.username }} [#{{data.id}}]</span>
        {% endif %}
    </div>
    <!-- END Breadcrumb -->

    <!-- Page title -->
    <div class="col-sm-12">
        {% if data == app.user %}
            <h1 class="page-name">Your profile page</h1>
        {% else %}
            <h1 class="page-name">Profile page of {{ data.username }}</h1>
        {% endif %}
    </div>
    <!-- END Page title -->

    <!-- Global informations (Left part) -->
    <div class="col-sm-6 profile-page border">
        <div class="row bg-dark dark info-title">
			<span>Global statistics</span>
		</div>
        <div class="row">
			<div class="col-sm-6 border">
				<img src="{{ asset('img/users/'~data.username~'.png')}}" alt="img/users/{{ data.username }}.png" id="profile-pic">
			</div>
			<div class="col-sm-6 border">
				<ul class="list-group" id="details">
					<li class="list-group-item">
						<h2 class="name">{{ data.username }}</h2>
					</li>
					<li class="list-group-item">
						<span class="{{ data.roleStr(data.roles|last) }}-role role">
							{{ data.roleStr(data.roles|last)| title }}
						</span>
					</li>
					<li class="list-group-item detail">
						<span class="personal_page">
							Registered since {{ data.registrationDate | date('d/m/Y')}}
						</span>
					</li>
					<li class="list-group-item detail">
						<span class="personal_page">
							From 
                            {% if data.country is null %}
                                <i class="empty-detail">undefined</i>
                            {% else %}
                                {{ data.country }}
                            {% endif %}
						</span>
					</li>
					<li class="list-group-item detail">
						<span class="birthday">
							Birth date : 
                            {% if data.birthDate is null %}
                                <i class="empty-detail">undefined</i>
                            {% else %}
                                {% if data.birthDate|date('d-m') == "now"|date('d-m') %}
                                    <b>{{ data.birthDate|date('d/m/Y') }} 🎂</b>
                                {% else %}
                                    {{ data.birthDate|date('d/m/Y') }}
                                {% endif %}
                            {% endif %}
						</span>
					</li>
				</ul>
			</div>
		</div>
    </div>
    <!-- END Global informations -->

    <div class="col-sm-1"><!-- Vertical spacing --></div>

    <!-- Details (Right part) -->
	<div class="col-sm-5">
        <!-- Biography -->
		<div class="row bg-dark info-title border">
			<span>Biography</span>		
		</div>
		<div class="row biography border">
			<div class="col-sm-12">
                {% if data == app.user %}
                    {% if data.biography is null %}
                        <i class="empty-detail">Introduce yourself in some words...</i>
                    {% else %}
                        <p>{{ data.biography }}</p>
                    {% endif %}
                {% else %}
                    {% if data.biography is null %}
                        <i class="empty-detail">No biography</i>
                    {% else %}
                        <p>{{ data.biography }}</p>
                    {% endif %}
                {% endif %}
			</div>		
		</div>
        <!-- END Biography -->

		<br/>

        <!-- Signature -->
		<div class="row bg-dark info-title border">
			<span>Signature</span>		
		</div>
		<div class="row signature border">
			<div class="col-sm-12">
                {% if data == app.user %}
                    {% if data.signature is null %}
                        <i class="empty-detail">Write a message that will appear at the end of your messages...</i>
                    {% else %}
                        <span>{{ data.signature }}</span>
                    {% endif %}
                {% else %}
                    {% if data.signature is null %}
                        <i class="empty-detail">No signature</i>
                    {% else %}
                         <span>{{ data.signature }}</span>
                    {% endif %}
                {% endif %}
			</div>	
		</div>
        <!-- END Signature -->
	</div>
    <!-- END Details -->

    {% if app.user is not null and data == app.user %}
        <!-- Edit profile buttons -->
        <div class="col-sm-12" id="editProfileButtons">
            <span>Edit profile</span>
            <hr>
            <br/>
            <a href="{{ path('editProfileDetails',{id: app.user.id}) }}" class="btn btn-primary">Edit profile details</a>
            <a href="{{ path('changeAvatar',{id: app.user.id}) }}" class="btn btn-primary">Change avatar</a>
            <a href="{{ path('editPassword',{id: app.user.id}) }}" class="btn btn-danger">Change password</a>
            <a href="{{ path('editAccount',{id: app.user.id}) }}" class="btn btn-danger">Edit account informations</a>
        </div>
        <!-- END Edit profile buttons -->
    {% endif %}
{% endblock %}