{% extends 'base.html.twig' %}

{% block title %}IT Solutions - New topic {% endblock %}

{% block body %}

<!-- Breadcrumb -->
<div class="col-sm-12" id="breadcrumb">
    <a href="{{ path('home') }}"><span>Home</span></a>
    >
    <a href="{{ path('forum') }}"><span>Forum</span></a>
    >
    <span>Create new topic</span>
</div>
<!-- END Breadcrumb -->

<div class="col-xl-12">
    <h1 class="page-name">Create new topic</h1>
</div>

<div class="col-md-12" id="pdetails-form">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}